/* Sass Variables */

// Images & SVG base
$img-base: '../../img/';
$svg-base: '../../svg/';


// Fonts weight variables
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;


// Descriptive brand color variables
$brand-color: #2494CD;


// Classic color variables
$black: #000;
$white: #fff;


// Info color variables
$error-color: #e74c3c;
$positive-color: #2ecc71;





